<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>


{{!-- <div class="text-center" >
    <a href="/">
        <img  src="https://img.freepik.com/free-vector/404-error-web-template-with-white-empty-room_23-2147799303.jpg?w=740&t=st=1668093984~exp=1668094584~hmac=5911294847aaed981e54aba25a862885b49dafbee8deb01970e4e1a930c6cb86" alt="" height="500">
    </a>
</div> --}}