
<div class="container  d-flex justify-content-center align-items-center" style="height:600px ;">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>Please enter the one time password <br> to verify your account</h6>
            <div> <span>A code has been sent to</span> <small>*******9897</small> </div>
            <form action="/verifyOtp" method="post">
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                    <input class="m-2 text-center form-control rounded" name="one" type="number" id="first" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" name="two" type="number" id="second" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" name="three" type="number" id="third" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" name="four" type="number" id="fourth" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" name="five" type="number" id="fifth" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" name="six" type="number" id="sixth" maxlength="1" />
                </div>
                <div class="mt-4"> <button type="submit" class="btn btn-danger px-4 validate">Validate</button> </div>
            </form>

        </div>
        <div class="card-2">
            <div class="content d-flex justify-content-center align-items-center"> <span>Didn't get the code</span> <a
                    href="/otpLogin" class="text-decoration-none ms-3">Resend</a> </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>