{{!-- <div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">login - register </li>
            </ul>
        </div>
    </div>
</div> --}}
<div class="login-register-area pt-20 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a data="tab" href="/login-register">
                            <h4> login </h4>
                        </a>
                        <a class="active" data-toggle="tab" href="#">
                            <h4> sign up </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="/signUp" method="post">


                                        <span id="name-error" class="disappear"></span>
                                        <input type="text" name="UserName" placeholder="Name" id="name"
                                            onkeyup="validateName()" >



                                        <span id="email-error" class="disappear"></span>
                                        <input name="UserEmail" placeholder="Email" type="Email" id="email"
                                            onkeyup=" validateEmail()" >

                                        <span id="phone-error" class="disappear"></span>
                                        <input type="text" name="MobileNo" placeholder="Mobile Number" id="phone"
                                            onkeyup=" validatePhone()" >


                                        <span id="pw1-error" class="disappear"></span>
                                        <input type="password" name="Password" placeholder="Password" id="password1"
                                            onkeyup="validatePassword()" >

                                        <span id="confirm-error" class="disappear"></span>
                                        <input type="password" placeholder="Confirm Password" id="password2"
                                            onkeyup="validateConfirmPwd()">

                                        <input type="checkbox" onclick="myFunction()"><label for="">Show
                                            Password</label>

                                        <div class="button-box">
                                            <button onclick="return validateForm()" type="submit">Register</button>
                                            <br><span id="submit-error"></span>
                                            {{#if emailError}}
                                            <span class="text-danger pl-5 disappear1">{{'emailError'}}</span>
                                            {{/if}}
                                            <br>


                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>